<!DOCTYPE html>
<html ng-app="MassifVisualizer">
    <head>
        <meta charset="utf-8" />
        <title>Massif.js Online Visualizer</title>

        <!-- styles -->
        <link rel="stylesheet" type="text/css" href="./vendor/bootstrap.v4.0.0.min.css" />
        <link rel="stylesheet" type="text/css" href="./style.css" />

        <!-- scripts -->
        <script type="text/javascript" src="./vendor/chart.v2.7.2.min.js"></script>
        <script type="text/javascript" src="./vendor/angularjs.v1.6.9.min.js"></script>
        <script type="text/javascript" src="../massifjs.js"></script>
        <script type="text/javascript" src="./script.js"></script>
    </head>
    <body ng-controller="MassifVisualizeController as massifVis">
        <div class="container-fluid row">
            <div class="col-6 row">
                <textarea class="col-12" ng-model="massifVis.source"></textarea>
                <button type="button" class="btn btn-primary" ng-click="massifVis.process()">Visualize</button>
            </div>
            <div class="col-6 row">
                <canvas class="col-12" id="chart"></canvas>
            </div>
        </div>
    </body>
</html>
